<div>
  <div>
    <h1>
      Photo Details
    </h1>

    
    </div>

    <dl>
      <dt>Image</dt>
      <dd>
       <img src="<%= @the_photo.image %>">
      </dd>
      
      <dt>
        Caption
      </dt>
      <dd>
        <%= @the_photo.caption %>
      </dd>
      
      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_photo.poster.username %>
      </dd>

      <dt>
        Posted
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>

      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_photo.likes_count %>
      </dd>

      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_photo.comments_count %>
      </dd>

      <dt>
        Fans
      </dt>
      <dd>
        [List of people who liked photo]
      </dd>

      <dt>Add a fan</dt>
    <dd>
      <form action="/insert_like" method="post">
        <input type="hidden" value="893" name="query_photo_id">
        <button>Like</button>
      </form>
    </dd>

    </dl>
  </div>
</div>

<h2>Comments</h2>

<table>
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>

    <tr>
      <td>
        drew
      </td>

      <td>
        It&#39;s not what happens to you, but how you react to it that matters.
      </td>

      <td>
        over 3 years ago
      </td>
    </tr>  
    <tr>
      <td>
        diego
      </td>

      <td>
        Dignity does not consist in possessing honors, but in deserving them.
      </td>

      <td>
        about 3 years ago
      </td>
    </tr>  
    <tr>
      <td>
        debbi
      </td>

      <td>
        Beware the barrenness of a busy life.
      </td>

      <td>
        about 3 years ago
      </td>
    </tr>  
    <tr>
      <td>
        thad
      </td>

      <td>
        There was never a genius without a tincture of madness.
      </td>

      <td>
        almost 3 years ago
      </td>
    </tr>  
    <tr>
      <td>
        ellen
      </td>

      <td>
        It is impossible to begin to learn that which one thinks one already knows.
      </td>

      <td>
        almost 3 years ago
      </td>
    </tr>  
    <tr>
      <td>
        bob
      </td>

      <td>
        The mind is not a vessel to be filled but a fire to be kindled.
      </td>

      <td>
        over 2 years ago
      </td>
    </tr>  
    <tr>
      <td>
        galen
      </td>

      <td>
        Beware the barrenness of a busy life.
      </td>

      <td>
        over 2 years ago
      </td>
    </tr>  
    <tr>
      <td>
        maida
      </td>

      <td>
        There was never a genius without a tincture of madness.
      </td>

      <td>
        about 2 years ago
      </td>
    </tr>  
</table>

<h3>Add a new comment</h3>

<form action="/insert_comment" method="post">
  <input type="hidden" value="893" name="query_photo_id">
  
  <label for="browser_comment">Comment</label>
  <textarea id="browser_comment" name="query_body" placeholder="Enter a comment..."></textarea>

  <button>Add comment</button>
</form>